#background {
  background-size: contain;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#ping {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333333;
}

#escapeMenu {
  background-color: fade-out(black, 0.2);

  #content {
    background-color: #111111;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    height: 260px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    > * {
      display: block;
      margin-top: 10px;
    }

    button {
      left: 0;
      right: 0;
      margin: 10px auto auto;
    }

    #escapeClose {
      bottom: 10px;
      position: absolute;
    }
  }
}